@import "mixins";

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix {
  @extend %clearfix;
}