@import "variables";

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset !important;
  background-color: #fff !important;
}

.hr {
  width: 100%;
  height: 5px;
  background-color: $color-gray-light;
}

.mint-toast {
  z-index: 100000 !important;
}

.list.no-arrow {
  margin-top: 0;
  margin-bottom: 0;

  .item-inner {
    display: block;
    background-image: none;
    padding-right: 0 !important;

    &:after {
      content: none;
    }
  }
}

.ios .list.no-arrow .item-content {
  padding-right: 15px;
}

.md .list.no-arrow .item-content {
  padding-right: 16px;
}