@import "variables";

.tab,
.page-current,
.page-content >.tabs {
  height: 100%;
}

.page-content >.tabs {
  position: relative;
  z-index: 1;
}

.tab-layout-content-container > .page-content {
  padding-top: 0 !important;
  padding-bottom: $tab-height !important;
}

.toolbar-hidden {
  &:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 10px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
  }

  & + .hide-toolbar-on-scroll {
    padding-top: 0 !important;
  }
}

.ios {
  .hide-toolbar-on-scroll {
    padding-top: 44px !important;
    padding-bottom: 0 !important;
  }

  .toolbar {
    top: 0 !important;

    &:before {
      top: auto !important;
      bottom: 0 !important;
    }

    &.toolbar-hidden {
      transform: translate3d(0, -100%, 0) !important;

      &:before {
        bottom: -1px !important;
      }

      & + .hide-toolbar-on-scroll {
        padding-top: 0 !important;
      }
    }
  }
}
