@import "variables";

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset !important;
  background-color: #fff !important;
}

.hr {
  width: 100%;
  height: 5px;
  background-color: $color-gray-light;
}

li {
  list-style-type: none;
}

.mint-toast {
  z-index: 100000 !important;
}

.mint-datetime {
  .mint-datetime-action {
    color: $theme-color;
  }
}

.list.no-arrow {
  margin-top: 0;
  margin-bottom: 0;

  .item-inner {
    display: block;

    &:after {
      content: none;
    }
  }

  .item-inner,
  .item-title-row {
    background-image: none !important;
    padding-right: 0 !important;
  }
}

.ios .list.no-arrow .item-content {
  padding-right: 15px;
}

.md .list.no-arrow .item-content {
  padding-right: 16px;
}

.sign-container {
  background-color: $theme-color !important;

  .form-container {
    width: 280px;
    margin: 0 auto;

    .list {
      background-color: #fff;
      border-radius: 7px;
      overflow: hidden;
    }

    .submit-btn {
      background-color: $color-yellow !important;
      height: 44px;
      line-height: 44px;
      border-radius: 22px;
      box-shadow: none;
      font-weight: bold;
    }

    .sign-left-btn {
      float: left;
    }

    .sign-right-btn {
      float: right;
    }

    .sign-center-btn {
      color: #fff;
    }

    .sign-left-btn,
    .sign-right-btn {
      color: #fff;
      font-weight: bold;
    }
  }
}